.content__item {
  max-width: 300px;
  width: 100%;
  border: 1px solid green;
  border-radius: 10px;
  padding: 20px;
  transition: border-color 0.3s linear;
}

.content__item--red {
  border-color: red;
}

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.content__title,
.content__text {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  -webkit-box-orient: vertical;
}

.content__title {
  font-size: 30px;
  max-width: 200px;
  -webkit-line-clamp: 2;
}

.content__text {
  font-size: 20px;
  -webkit-line-clamp: 5;
}

.content__check {
  width: 20px;
  height: 20px;
  margin: 0;
}

.content__input {
  display: block;
  padding: 0;
  border: none;
  border-bottom: 1px solid black;
  outline: transparent;
  max-width: 80%;
  font-size: 20px;
}

.content__input--title {
  font-size: 30px;
  font-weight: bold;
}

.content__input::placeholder {
  font-size: 20px;
}

.content__nav {
  display: flex;
  align-items: center;
}

.content__edit {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: transparent;
  transition: transform 0.3s linear;
}

.content__edit:not(:last-child) {
  margin-right: 5px;
}

.content__edit svg {
  display: block;
}

.content__edit:hover {
  transform: scale(1.3);
}