.content__nav {
  display: flex;
  align-items: center;
}

.content__edit {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: transparent;
  transition: transform 0.3s linear;
}

.content__edit:not(:last-child) {
  margin-right: 5px;
}

.content__edit svg {
  display: block;
}

.content__edit:hover {
  transform: scale(1.3);
}